.About {
    padding: 40px 0px;
    padding-bottom: 10px;
    overflow: hidden;
    font-family: "Charis SIL", serif;
    .title {
        text-align: center;
        width: fit-content;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: black;
        padding: 28px 0px;
        p:nth-child(1) {
            font-family: "Charis SIL", serif;
            font-weight: 500;
            font-style: normal;
            font-size: 46px;
            text-transform: uppercase;
        }

        p:nth-child(2) {
            font-family: "Charis SIL", serif;
            font-weight: 300;
            font-style: normal;
            font-size: 18px;
            letter-spacing: 8px;
        }
    }

    .video {
        border-radius: 10px;
        overflow: hidden;
        height: 485px !important;
        margin-bottom: 10px;
    }

    .main {
        display: flex;
        flex-direction: column;
        gap: 40px;
        .about-main-image {
            height: 520px;
            overflow: hidden;
            background-position: 10%;
            background-size: cover;
            background-attachment: fixed;
            filter: saturate(0.9) contrast(1.17) brightness(70%);
        }
        .image {
            height: 580px;
            overflow: hidden;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .content {
            padding: 10% 0%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            .author-sign {

                width: 600px;
                margin: 0 auto;
                display: flex;
                justify-content: flex-end;
                img {
                    width: 300px;
                }
            }
            .content-logo {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 28px;
                img {
                    width: 300px;
                    object-fit: contain;
                }
            }
            h4 {    
                margin-bottom: 4px;
                font-size: 18px;
                font-weight: 300;
                padding: 8px 0px;
                text-transform: uppercase;
            }
            h2 {
                font-size: 28px;
                color: black;
                margin-bottom: 14px;
                text-transform: uppercase;
                line-height: 38px;
                font-weight: 600;
                text-align: center;
            }
            p {
                display: block;
                text-align: justify;
                font-size: 18px;
                word-spacing: 4px;
                line-height: 26px;

                width: 600px;
                margin: 0 auto;
                margin-bottom: 24px;
            }

            .right-subtitle {
                text-align: right;
            }
        }

        .line {
            width: 60%;
            margin: 0 auto;
            height: 2px;
            border-top: 1px dashed #d52a1e51;
            display: flex;
            justify-content: center;
            align-items: center;
            .circle {
                width: 40px;
                height: 40px;
                background-color: white;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1px solid #d52a1e5c;
                i {
                    font-size: 28px;
                    color: #e724166e;
                }
            }
        }
    }

    .main {
        .title {
            display: none !important;
        }
        .image {
            height: 500px;
        }
    }


    .banner-about {
        height: 100vh;
        position: relative;
        z-index: 100;
        .image {
            width: 100%;
            height: 100%;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .image-title {
            width: 100%;
            position: absolute;
            bottom: 0;
            display: none;
        }
    }
}

@import url("../../assets/responsive/Mobile_About_UI.scss");
