.ProductView {
    .title {
        position: relative;
        font-size: 24px;
        padding: 8px 0px;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 40px;
        width: fit-content;
        &::before {
            content:"";
            position: absolute;
            width: calc(70%);
            height: 4px;
            background-color: #D52B1E;
            top: -4px;
            left: 0;
        }
    }

    .main {
        height: fit-content;
        .container-inner {
            margin: 0px -8px;
            min-height: 460px;
        }
        .product-card {
            width: 100%;
            height: 460px;
            // background-color: rebeccapurple;
            margin-bottom: 10px;
        }
        .product-loader {
            width: 100%;
            height: 460px;
            margin-bottom: 10px;
        }
    }
}