.Home {
    width: 100%;
    .banner {

    }

    .main {
        width: 100%;
        height: auto;
        .section-view-image {
            padding: 4% 0px;
            margin-bottom: 10px;
            .section-view {
                height: 100%;
                width: 100%;
            }
        }

        .section-view-brands {
            margin-bottom: 40px;
        }
        
        .section-view-products {
            margin-bottom: 40px;
        }

        .section-view-typhography {
            margin-top: 80px;
        }
    }
}



.slick-slider {
    height: 100%;
    .slick-list {
        height: 100%;
        .slick-track {
            height: 100%;
            .slick-slide {
                height: 100%;
                div {
                    height: 100%;
                    img {
                        object-fit: cover;
                    }
                }
            }
        }
    }
}
.slick-dots {
    position: absolute;
    bottom: 0;
    display: flex!important;
    align-items: center;
    padding: 18px;
    justify-content: center;
    li {
        width: 60px;
        height: 3px;
    }

    .slick-active {
        button {
            background-color: orangered!important;
        }
    }
    button {
        background-color: rgb(255, 255, 255);
        width: 100%;
        height: 100%;
        padding: 0;
        mix-blend-mode: difference;
        &::before {
            content: "";
            height: 100%;
            width: 100%;
            position: relative;
        }
    }
}
.slick-arrow  {
    position: absolute!important;
    display: none!important;
}


.slide-item {
    width: 100%;
    height: 100%;
    
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

/* Styles for mobile devices (up to 768px) */
@media only screen and (max-width: 768px) {
    .banner {
        height: 25vh;
    }
   
    .section-view-image {
        padding: 4% 0%!important;
        margin-bottom: 0!important;
        .section-view {
            height: 300px!important;
            padding-bottom: 20px;
            .SectionView {
                .action-button {
                    width: 100%!important;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    padding: 8px 16px!important;
                    p {
                        
                    }
                    .title {
                        p {
                            font-size: 18px;
                            line-height: normal;
                        }
                    }
                }
            }
        }
    }

    .section-view-brands {
        height: 150px;
        margin-bottom: 20px!important;
        .BrandView {
            padding: 0px;
        }
    }


    .section-view-products {
        .ProductView {
            .container-inner {
                margin: 0!important;
                min-height: 260px!important;
                .row {
                    width: 100%;
                    margin: 0 auto;
                    .product-card {
                        height: 250px;
                        user-select: none;
                        &:active {
                            border: 1px solid black;
                        }
                        .image {
                            height: 60%;
                            padding: 16px;
                            user-select: none;
                            img {
                                user-select: none!important;
                            }
                        }
                        .info {
                            height: 40%;
                            padding: 10px 0px;
                            p:nth-child(1) {
                                min-height: 36px;
                            }
                            p {
                                margin-bottom: 0;
                                user-select: none;
                            }
                        }
                    }
                }
            }

        }
        .ProductCard {
            &:hover {
                border: none!important;
                .squares-img {
                    display: none;
                }
            }
        }
    }

    .section-view-typhography {
        margin-top: 0!important;
        .Typhography {
            .title {
                padding: 0!important;
                margin-bottom: 20px;
                p:nth-child(1){
                    font-size: 30px!important;
                }
                p:nth-child(2){
                    font-size: 12px!important;
                    padding: 0px 10px;
                    letter-spacing: 2px!important;
                }
            }
            .main {
                gap: 10px;
                .image {
                    height: 300px;
                }
                .content {
                    margin-right: 0!important;
                    display: none;
                    h4 {
                        font-size: 14px;
                    }
                    h2 {
                        font-size: 20px!important;
                        line-height: 24px!important;
                    }
                    p {
                        font-size: 14px;
                        line-height: 18px;
                    }
                }
               
            }
        }
        
        .about-main-image {
            display: none;
        }
    }
  
}

/* Styles for tablets (768px to 992px) */
@media only screen and (min-width: 768px) and (max-width: 992px) {
  
}

/* Styles for desktops (992px and above) */
@media only screen and (min-width: 992px) {
 
}