/* Styles for mobile devices (up to 768px) */
@media only screen and (max-width: 768px) {
    .banner {
        height: 55vh;
        filter: brightness(80%);

        padding: 15px;
        .Banner {
            border-radius: 10px;
            overflow: hidden;
        }
    }

    .wrapper {
    }

    .section-view-image {
        padding: 4% 0% !important;
        margin-bottom: 0 !important;
        .section-view {
            height: 300px !important;
            padding-bottom: 20px;
            .SectionView {
                .action-button {
                    width: 100% !important;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    padding: 8px 16px !important;
                    p {
                    }
                    .title {
                        p {
                            font-size: 18px;
                            line-height: normal;
                        }
                    }
                }
            }
        }
    }

    .section-view-brands {
        height: 80px;
        margin-bottom: 20px !important;

        .BrandView {
            height: 100%;
            padding: 0;

            img {
                width: 80% !important;
                height: 100% !important;
                object-fit: contain !important;
            }
        }
    }

    .section-view-products {
        margin-bottom: 20px !important;
        .padding-0 {
            padding: 0;
        }
        .ProductView {
            .title {
                margin-bottom: 0px;
                font-size: 18px;
            }
            .container-inner {
                margin: 0 -8px !important;
                min-height: 260px !important;

                .col-6 {
                    width: calc(48%) !important;
                }
                .flex-nowrap {
                    overflow-y: hidden;
                    /* width */
                    &::-webkit-scrollbar {
                        width: 4px;
                        height: 4px;
                    }
                    /* Track */
                    &::-webkit-scrollbar-track {
                        
                    }
                    /* Handle */
                    &::-webkit-scrollbar-thumb {
                        background: #D52B1E !important;
                    }
                }
                .row {
                    width: 100%;
                    margin: 0 auto;
                    .product-card {
                        height: 350px;
                        user-select: none;
                        &.p-empty {
                            display: flex;
                            padding: 8px;
                            .p-empty-container {
                                height: calc(70% - 4px);
                                width: 100%;
                                border-radius: 10px;
                                box-shadow:
                                    rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
                                    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                            }
                        }
                        &:active {
                            border: 1px solid black;
                        }
                        .image {
                            height: 70%;
                            padding: 0px;
                            user-select: none;
                            border-radius: 10px;
                            overflow: hidden;
                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                user-select: none !important;
                            }
                        }
                        .info {
                            height: 30%;
                            padding: 10px 0px;
                            align-items: flex-start;
                            justify-content: flex-start;
                            p:nth-child(1) {
                                min-height: 36px;
                                font-size: 16px;
                                padding: 0 !important;
                                text-align: left;
                            }
                            p {
                                margin-bottom: 0;
                                user-select: none;
                            }
                        }
                    }
                }
            }
        }
        .ProductCard {
            &:hover {
                border: none !important;
                .squares-img {
                    display: none;
                }
            }
        }
    }

    .section-view-typhography {
        margin-top: 0 !important;
        .Typhography {
            .title {
                padding: 0 !important;
                margin-bottom: 20px;
                p:nth-child(1) {
                    font-size: 30px !important;
                }
                p:nth-child(2) {
                    font-size: 12px !important;
                    padding: 0px 10px;
                    letter-spacing: 2px !important;
                }
            }
            .main {
                gap: 10px;
                .image {
                    height: 300px;
                }
                .content {
                    margin-right: 0 !important;
                    display: none;
                    h4 {
                        font-size: 14px;
                    }
                    h2 {
                        font-size: 20px !important;
                        line-height: 24px !important;
                    }
                    p {
                        font-size: 14px;
                        line-height: 18px;
                    }
                }
            }
        }

        .about-main-image {
            display: none;
        }
    }

    .tone-woods {
        margin-top: 30px;
        margin-bottom: 30px;
        .ToneWoods {
            padding-top: 20px;
            height: fit-content;
            .ToneWoods-title {
                margin-bottom: 30px;
                p {
                    padding: 0 !important;
                    margin: 0;
                    width: 100%;
                    font-size: 12px;
                    line-height: 18px;
                }
            }

            .custom-arrow-next {
                width: 50px !important;
                height: 50px !important;
                top: calc(50% - 25px) !important;
                display: none !important;
            }

            .custom-arrow-prev {
                width: 50px !important;
                height: 50px !important;
                top: calc(50% - 25px) !important;
                display: none !important;
            }

            .ToneWoods-list {
                .ToneWoods-inner {
                    .slide-item {
                        .slide-image {
                            overflow: hidden;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            height: 200px !important;
                            border-radius: 10px;
                            img {
                                width: 100%;
                                height: 100%;
                            }
                        }
                        .description {
                            padding: 0;
                            text-align: justify;
                        }
                    }
                }
            }
        }
    }
}

/* Styles for tablets (768px to 992px) */
@media only screen and (min-width: 768px) and (max-width: 992px) {
}

/* Styles for desktops (992px and above) */
@media only screen and (min-width: 992px) {
}
